/* *전체 선택자 */

* {
    color: rgb(17, 0, 255);
}

/* 태그 선택자 */
/* 태그명 (속성 : 속성값) */
/* 해당 태그가 사용된 모든 요소 선택*/

li {
    background-color: aqua;
}

/* class 선택자 */
/* html 내에서 해당 class를 가진 요소 */
/* .클래스명 {속성:속성값}*/

.red {
    background-color: red;
}

/* id 선택자 */
/* html 내에서 해당 id를 가진 요소 선택자*/
/* #아이디명 {속성 : 속성 값}*/
/* */
/* */



#li-orange {
    background-color: orange;
}

/* 선택자 중에서 id */
/* */
/* */
/* */
/* */